.update-account {
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bold;

    button {
        border-radius: 5px;
        color: aqua;
        background-color: black;
        padding: 2px;
    }
}